{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Successful</title>
  <link rel="icon" type="image/png" href="../static/images/Forum-anticorruption_1.png">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Custom CSS -->
  <link rel="stylesheet" href="../static/CSS/stylesheet.css">
  <!-- Script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>

<body>

    {% block content %}
    <div class="container">
        <h3 style="text-align: center;">Enregistrement réussi!</h3>
        <p>Votre Code: {{ concurrent_code }}</p>
        <h6>Ce code vous sera utile lors de la connexion à votre compte. Faites en sorte de vous en souvenir. <a href="{% url 'LCC_App:custom_login' %}" style="text-decoration: underline;">Se connecter</a></h6>
        <!-- Add more information or styling as desired -->
    </div>
{% endblock %}

</body>
</html>


